.divAvisoTela {
    display: none;
}

@media (max-width: 700px) {
    .divAvisoTela {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9999;

    }

    .divAvisoTela .logo {
        position: absolute;
        bottom: 30px;
        width: 20%;
    }

    .mainInicio {
        display: none;
    }
}