.estListas {
    height: 100dvh;
    min-height: 0;
    width: 35%;
    box-sizing: border-box;
    border-right: solid 1px var(--bordaCor);
    display: flex;
    flex-direction: column;
}

.estTopo {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: solid 1px var(--bordaCor);
}

.estTopo .paragrafoInformativo {
    text-align: left;
}

.intermediarioEst {
    border-bottom: solid 1px var(--bordaCor);
    display: flex;
    /* justify-content: space-between; */
    padding: 5px;
}

.intermediarioEst p {
    flex: 1;
    font-size: 12px;
    padding-left: 10px;
}

.estListasContainer {
    box-sizing: border-box;
    flex: 1;
    min-height: 0;
    display: flex;
}

.estListaMundos {
    flex: 1;
    overflow-y: auto;
    border-right: solid 1px var(--bordaCor);
}

.itemMundoEstatistica {
    border-bottom: solid 1px var(--bordaCor);
    box-sizing: border-box;
    display: flex;
    min-height: 60px;
}

.itemMundoEstatistica:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.itemMundoEstatistica.ativo {
    background-color: rgb(40, 40, 40);
}

.itemMundoEstatistica.agenteAtivo {
    background-color: #4b0064;
}

.idMundoListaEst {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px var(--bordaCor);
    min-width: 60px;
}

.infoMundoListaEst {
    display: flex;
    align-items: center;
    padding: 5px;
}

.carregarMaisMundosEst {
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.estListaAgentes {
    flex: 1;
    overflow-y: auto;
}

.botaoBuscarEstatisticasContainer {
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px var(--bordaCor);
}

.botaoBuscarEstatisticas {
    border: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--roxoDestaque);
}

.estMain {
    width: 65%;
    height: 100dvh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.estItem {
    border: solid 1px var(--bordaCor);
}

.topoEstItem {
    border-bottom: solid 1px var(--bordaCor);
    padding: 10px;
}

.blocosEstItem {
    padding: 10px;
    display: flex;
    gap: 10px;
}