.execucaoMain {
    background-color: black;
    display: flex;
    align-items: start;
    height: auto;
    width: auto;
    box-sizing: border-box;
}

.secaoMapaExecucao {
    /* background-color: gray; */
    width: 60%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
}

.configsExecucao {
    /* background-color: crimson; */
    width: 40%;
    height: 90vh;
    border-left: 1px solid var(--bordaCor);
    box-sizing: border-box;
}

.botaoIniciar {
    padding: 10px;
    background-color: var(--roxoDestaque);
    border: none;
}

.botoesExecucaoo {
    width: 100%;
    height: 40px;
    /* background-color: gray; */
    display: flex;
}

.botaoNovaExecucao:hover {
    background-color: red;
    color: white;
}

.botaoNovaExecucao {
    background-color: white;
    color: black;
}

.botoesExecucaoo button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reconfigurar {
    display: flex;
    /* background-color: gray; */
}

.reconfiguracoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reconfiguracoes label {
    width: auto;
    flex: none;
}

.botaoEditarSala {
    background-color: white;
    color: black;
    padding: 8px;
    margin-bottom: 10px;
}

.divIniciarNova {
    /* background-color: gray; */
    padding: 0;
    width: 100%;
    height: auto;
}

.divIniciarNova button {
    width: 100%;
    margin: 0;
}