.mainInicio {
    display: flex;
    flex-direction: column;
}

.inicioJanela {
    /* background-color: red; */
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.tituloInicio {
    font-weight: lighter;
    width: 50%;
    font-size: 40px;
}

.paragrafoInicio {
    width: 50%;
}

.divBotoesInicio {
    width: 50%;
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.divBotoesInicio button {
    flex: 1;
    padding: 10px;
    margin: 0;
}

.botaoInicioSemLogin:hover {
    background-color: red;
    color: white;
    font-weight: bold;
}

.logoInicio {
    position: absolute;
    top: 20px;
    right: 20px;
    object-fit: contain;
    width: 180px;
}

.mainInicio footer {
    border-top: 1px solid var(--bordaCor);
    width: 100vw;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
}

.botaoNovaPartida {
    margin: 0;
    height: 60px;
    width: 200px;
    border: none;
    background-color: var(--roxoDestaque);
}

@media (max-width: 900px) {

    .tituloInicio,
    .paragrafoInicio,
    .divBotoesInicio {
        width: 80%;
    }
}