.mainInicio {
    display: flex;
    flex-direction: column;
}

.inicioJanela {
    /* background-color: red; */
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.tituloInicio {
    font-weight: lighter;
    width: 50%;
    font-size: 40px;
}

.paragrafoInicio {
    width: 50%;
}

.paragrafoInicio a {
    color: white;
}

.divBotoesInicio {
    width: 50%;
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.divBotoesInicio button {
    flex: 1;
    padding: 10px;
    margin: 0;
}

.botaoInicioSemLogin:hover {
    background-color: red;
    color: white;
    font-weight: bold;
}

.logoInicio {
    position: absolute;
    top: 20px;
    right: 20px;
    object-fit: contain;
    width: 180px;
}

.mainInicio footer {
    border-top: 1px solid var(--bordaCor);
    width: 100vw;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /* justify-content: right; */
}

.botaoLogado {
    margin: 0;
    border: none;
    padding: 0px 20px;
}

.botaoNovaPartida {
    margin: 0;
    height: 60px;
    width: 200px;
    border: none;
    background-color: var(--roxoDestaque);
}

.usuarioInicio {
    position: absolute;
    left: 10px;
    top: 10px;
    /* border: solid 1px var(--bordaCor); */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
}

.usuarioInicio button {
    width: 100%;
}

@media (max-width: 900px) {

    .tituloInicio,
    .paragrafoInicio,
    .divBotoesInicio {
        width: 80%;
    }
}

@media (max-width: 600px) {
    html {
        background-color: black;
    }

    .tituloInicio {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .paragrafoInicio {
        font-size: 12px;
    }

    .mainInicio {
        height: 100vh;
        box-sizing: border-box;
    }

    .inicioJanela {
        height: auto;
        flex: 1;
    }

    .mainInicio footer {
        position: fixed;
        bottom: 0;

    }

    .logoInicio {
        width: 100px;
    }
}

/* @media (max-width: 700px) {
    .mainInicio {
        display: none;
    }
} */