.fade-in {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}

.linoDormindoImg {
    width: 120px;
    bottom: 20px;
    position: fixed;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}