main {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.janelaCentralizada {
    /* border: solid 1px var(--bordaCor); */
    width: 60%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.h1-centralizado {
    width: 100%;
    margin: 0px;
    text-align: center;
}

.paragrafoInformativo {
    font-size: 12px;
    text-align: center;
    margin: 5px 0px;
}

.div-geradorMapa {
    /* border: solid 2px red; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.div-gerador-mapa-inferior {
    /* border: 2px solid blue; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divControle {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: solid 1px var(--bordaCor);
}

.divControle label {
    flex: 1;
    margin-left: 10px;
    text-align: left;
}

.div-controles-auxiliar {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}


.janelaConfigMapa {
    border: 1px solid var(--bordaCor);
    width: 20%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.janelaConfigMapa h1,
.janelaConfigMapa p {
    text-align: left;
    margin: 0;
}

.botaoPreencher-apagar {
    width: 50%;
}

button {
    background-color: black;
    border: solid 1px var(--bordaCor);
    color: white;
    margin: 5px;
    padding: 5px;
    /* font-weight: bold; */
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.div-controlesSuperiores {
    border: solid 1px var(--bordaCor);
    /* height: 100px; */
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.inputDimensao {
    width: 100px;
    color: white;
    background-color: black;
    border: solid 1px var(--bordaCor);
}

.div-mapa {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8;
    box-sizing: border-box;
    /* border: solid 1px var(--bordaCor); */
}

.mapa-blocos {
    display: grid;
    background-color: black;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border: 1px solid var(--bordaCor);
}

.bloco {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--bordaCor);
    border-right: 1px solid var(--bordaCor);
    box-sizing: border-box;
    background-color: black;
    transition: background-color 0.08s linear;
    cursor: crosshair;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 5px; */
}

.elemento {
    margin: 10%;
    border-radius: 4px;
}

.elemento.wumpus {
    background-color: red;
}

.elemento.buraco {
    background-color: blueviolet;
}

.elemento.ouro {
    background-color: orange;
}

.botaoWumpus.ativo {
    background-color: red;
}

.botaoBuraco.ativo {
    background-color: blueviolet;
}

.botaoOuro.ativo {
    background-color: orange;
    color: black;
}

.div-entidades-informacao h3 {
    margin: 0;
}

.quadradoEntidade {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 4px;
}

.bloco:hover {
    background-color: #444;
}

.bloco.selecionado {
    background-color: rgb(102, 0, 75);
}

.janelaEntidades {
    border: 1px solid var(--bordaCor);
    width: 20%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    /* display: flex; */
}

.janelaEntidades h2 {
    margin: 5px 10px;
}

.div-entidades-aleatorio {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.div-entidades-aleatorio input {
    margin: 5px;
    border: none;
    padding: 3px 3px;
}

.div-entidades-aleatorio input,
.div-entidades-aleatorio button {
    width: 50%;
}

@media (max-width: 900px) {
    .janelaCentralizada {
        width: 50%;
        height: 95%;
    }

    .janelaEntidades,
    .janelaConfigMapa {
        width: 25%;
    }
}