.blocoExecucao {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--bordaCorExecucao);
    border-right: 1px solid var(--bordaCorExecucao);
    box-sizing: border-box;
    background-color: black;
    transition: background-color 0.08s linear;
    cursor: crosshair;

    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .blocoExecucao:hover {
    background-color: #444;
} */

.blocoExecucao.selecionado {
    background-color: rgb(20, 20, 20);
}


.blocoExecucao.noTop {
    border-top: 2px solid white !important;
    /* box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 1); */
}

.blocoExecucao.noLeft {
    border-left: 2px solid white !important;
    /* box-shadow: inset 10px 0 10px rgba(0, 0, 0, 1); */
}

.blocoExecucao.noRight {
    border-right: 2px solid white !important;
    /* box-shadow: inset -10px 0 10px rgba(0, 0, 0, 1); */
}

.blocoExecucao.noBottom {
    border-bottom: 2px solid white !important;
    /* box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 1); */
}

.skin {
    /* flex: 1; */
    width: 100%;
    /* margin: 5px; */
    object-fit: contain;
    box-sizing: border-box;
    z-index: 10000;
}

.skinOuro {
    width: 70%;
    filter: drop-shadow(0 0 10px gold);
}

.skiBuraco {
    width: 120%;
    /* -webkit-box-shadow: 0px 0px 31px 17px #FF0000;
    box-shadow: 0px 0px 31px 17px #FF0000; */
    filter: drop-shadow(0 0 10px rgb(255, 0, 0));
}

.skinAgenteArmado {
    width: 120%;
    filter: drop-shadow(0 0 10px white);
}

.skinAgenteDesarmado {
    width: 85%;
    filter: drop-shadow(0 0 10px white);
}

.wumpusVivo {
    width: 105%;
    filter: drop-shadow(0 0 10px blueviolet);
}

.wumpusMorto {
    width: 70%;
}

.secaoNoRodape {
    display: flex;
    border-right: 1px solid var(--bordaCor);
}

.secaoProgresso {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 12px;
    box-sizing: border-box;

}

.sliderProgresso {
    width: 90%;
}

.sliderPassos {
    width: 100%;
}

.botoesExecucao {
    width: 25%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.botoesExecucao button {
    /* font-size: 1px; */
    flex: 1;
    height: 100%;
    border: none;
    margin: 0;
}

.roxo {
    background-color: var(--roxoDestaque);
}

.botaoPasso {
    /* background-color: var(--roxoDestaque); */
}

.botaoResetar:hover {
    background-color: red;
    color: white;
}

.botaoExecutarRoxo {
    /* background-color: var(--roxoDestaque); */
    background-color: var(--roxoDestaque);
    /* color: black; */
}

.botaoContinuar:hover {
    background-color: var(--roxoDestaque);
    color: white;
}

.secaoZoom {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pZoom {
    text-align: center;
}

.osBotoesDeZoom {
    display: flex;
    background-color: gray;
    width: 40%;
}

.osBotoesDeZoom button {
    flex: 1;
    margin: 0;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
}

.rodapeControlesExecucao {
    border-top: 1px solid var(--bordaCor);
    /* width: 100vw; */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    background-color: black;
    color: white;
    /* padding: 5px; */
    /* justify-content: space-between; */
    justify-content: end;
}

.salaInicialExecucao {
    /* border: solid 2px white; */
    background-color: rgb(255, 255, 255) !important;
    filter: drop-shadow(0 0 10px rgb(0, 255, 247));
    /* box-shadow: 0px 0px 10px white; */
}

.minimapaContainerExecucao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */

}

.mapaContainerExecucao {
    flex: 1;
    position: relative;
    /* overflow: hidden; */
    /* background-color: #f0f0f0; */
    /* border-radius: 8px; */

}

.mapa-blocos-execucao {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(var(--pan-x, 0px), var(--pan-y, 0px));
    display: grid;
    background-color: black;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    /* overflow: hidden; */
    border: 1px solid var(--bordaCor);
}

.carregandoMinimapaExecucao {
    /* background-color: gray; */
    width: 100%;
    height: 100%;
}

.carregandoMinimapaExecucao img {
    /* background-color: gainsboro; */
    flex: 0;
}

.janelaTempoReal {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    color: white;
    border-right: 1px solid var(--bordaCor);
    border-bottom: 1px solid var(--bordaCor);
    /* padding: 15px; */
    display: flex;
    z-index: 2000;
}

.auxiliarTempoReal.direita {
    border-left: 1px solid var(--bordaCor);
}

.auxiliarTempoReal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.auxiliarTempoReal p {
    font-size: 13px;
}

.auxiliarTempoReal h3 {
    margin: 0;
}

.pArrastarMapa {
    position: absolute;
    left: 5px;
    bottom: 0;
    z-index: 2010;
}

@media (max-width: 600px) {

    .secaoMapaExecucao {
        height: 95vh;
    }

    .rodapeControlesExecucao {
        width: 100%;
        height: auto;
        position: static;
        flex-direction: column;
        /* background-color: gray; */
        flex-direction: column;
        justify-content: center;
        border-left: none;
    }

    .secaoZoom,
    .botoesExecucao,
    .secaoProgresso {
        width: auto;
        border: none;
        border-bottom: 1px solid var(--bordaCor);
        height: 8vh;
    }

    .botoesExecucao {
        height: 6vh;
    }

    .pArrastarMapa {
        display: none;
    }

    .secaoNoRodape {}

    .janelaTempoReal {
        width: 100%;
        box-sizing: border-box;
        border-top: none;
        border-right: none;
    }

    .configsExecucao {
        overflow-y: visible;
        border-left: none;
    }
}