.secaoNoRodape {
    display: flex;
    border-right: 1px solid var(--bordaCor);
}

.secaoProgresso {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 12px;
    box-sizing: border-box;

}

.sliderProgresso {
    width: 90%;
}

.sliderPassos {
    width: 100%;
}

.botoesExecucao {
    width: 25%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.botoesExecucao button {
    font-size: 10px;
    flex: 1;
    height: 100%;
    border: none;
    margin: 0;
}

.botaoPasso {
    /* background-color: var(--roxoDestaque); */
}

.botaoResetar:hover {
    background-color: red;
    color: white;
}

.botaoContinuar {
    background-color: var(--roxoDestaque);
}

.secaoZoom {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pZoom {
    text-align: center;
}

.osBotoesDeZoom {
    display: flex;
    background-color: gray;
    width: 40%;
}

.osBotoesDeZoom button {
    flex: 1;
    margin: 0;
}

.rodapeControlesExecucao {
    border-top: 1px solid var(--bordaCor);
    /* width: 100vw; */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    background-color: black;
    color: white;
    /* padding: 5px; */
    /* justify-content: space-between; */
}