.mainNovaPartida {
    display: flex;
    box-sizing: border-box;
    height: 100dvh;
    flex: 1;
}

.esquerdaNovaPartida {
    height: 100dvh;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.esquerdaNovaPartida .divControle {
    border: none;
    flex: none;
    border-bottom: 1px solid var(--bordaCor);
}

.esquerdaNovaPartida .paragrafoInformativo {
    text-align: justify;
}

.listaMundos {
    /* display: flex; */
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
}

.listaMundos .itemListaMundos {
    flex-direction: column;
}

.centroNovaPartida {
    /* background-color: blue; */
    border-left: 1px solid var(--bordaCor);
    border-right: 1px solid var(--bordaCor);
    width: 50%;
    height: 100%;
}

.centroNovaPartida .div-mapa {
    /* background-color: gray; */
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.salaInicial {
    background-color: white !important;
}

.pSalaSelecionada {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.divInformacoes {
    padding: 20px;
    height: 10vh;
    box-sizing: border-box;
}

.direitaNovaPartida {
    /* background-color: red; */
    height: 100%;
    width: 25%;
    overflow-y: auto;
}

.divSelecioneAgente {
    border-top: 1px solid var(--bordaCor);
    height: 65vh;
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
    box-sizing: border-box;
}

.listaAgentes {
    /* background-color: rebeccapurple; */
    box-sizing: border-box;
    border-top: 1px solid var(--bordaCor);
    border-bottom: 1px solid var(--bordaCor);
    flex: 1;
    overflow-y: auto;
    /* height: 20%; */
}

.itemAgente {
    background-color: black;
    border-bottom: 1px solid var(--bordaCor);
    padding: 10px;
}

.itemAgente:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.itemAgente p {
    text-align: left;
}

.itemAgente h3 {
    margin: 0;
}

.checkMovimento {
    font-size: 14px;
    margin: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoIniciarPartida {
    background-color: var(--roxoDestaque);
    border: none;
    padding: 10px;
    margin: 10px 0px;
}

.rodapeNovaPartida {
    background-color: black;
    color: white;
    padding: 10px;
    border-top: 1px solid var(--bordaCor);
    box-sizing: border-box;
    height: 15vh;
}

@media (max-width: 1250px) {
    .centroNovaPartida .div-mapa {
        height: 70vh;
    }
}

@media (max-width: 1050px) {
    .esquerdaNovaPartida {
        width: 20%;
    }

    .centroNovaPartida {
        width: 60%;
    }

    .centroNovaPartida .div-mapa {
        height: 70vh;
    }

    .direitaNovaPartida {
        width: 20%;
    }
}

.botaoInicio.telaNovaPartida {
    padding: 5px;
}

@media (max-width: 600px) {
    .mainNovaPartida {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .esquerdaNovaPartida,
    .centroNovaPartida,
    .direitaNovaPartida {
        width: 100%;
        border: none;
    }

    .esquerdaNovaPartida {
        height: 60vh;
        border-bottom: solid 1px var(--bordaCor);
    }

    .centroNovaPartida {
        height: 80vh;
        width: 95%;
        border: solid 1px var(--bordaCor);
        margin: 10px 0px;
        /* height: auto; */
        border-bottom: solid 1px var(--bordaCor);
    }

    .direitaNovaPartida {
        height: 40vh;
        border-bottom: solid 1px var(--bordaCor);
        overflow: visible;
    }

    .mainNovaPartida .div-mapa {
        height: 50vh;
        /* height: auto; */
        /* background-color: gray; */
    }

    .divSelecioneAgente {
        flex: none;
        height: 80%;
    }
}