@font-face {
  font-family: 'OpenSans';
  src: url('../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-VariableFont_wdth\,wght.ttf');
  font-weight: 100 900;
}


body,
html,
#root {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', 'Roboto', Arial;
  min-width: 0;
  min-height: 0;
}

p,
h1,
h2,
h3 {
  margin: 0px;
  color: rgb(255, 255, 255);
}

input {
  background-color: black;
  color: white;
}

:root {
  --bordaCor: #5d5d5d;
  --bordaCorExecucao: #2b2b2b;
  --roxoDestaque: #8800B5;
}

.spanMesmaLinha {
  display: flex;
  align-items: center;
  gap: 10px;
}

* {
  --sb-track-color: #000000;
  --sb-thumb-color: #5d5d5d;
  --sb-size: 10px;
}

*::-webkit-scrollbar {
  width: var(--sb-size)
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.destaqueRed {
  color: red;
}

.destaqueGold {
  color: gold;
}

.destaqueRoxo {
  color: #8800B5;
}

.animarTexto {
  animation: mudarCor 1s infinite alternate ease-in-out;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  box-sizing: border-box;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px var(--bordaCor);
  -webkit-transition: .1s;
  transition: .1s;
  height: 16px;
  box-sizing: border-box;
}

.slider:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 16px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
  box-sizing: border-box;
  border: none;
}

input:checked+.slider {
  background-color: var(--roxoDestaque);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--roxoDestaque);
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

hr {
  border: solid 1px var(--bordaCor);
  width: 100%;
  height: 1px;
}

@keyframes mudarCor {
  0% {
    color: blueviolet;
  }

  100% {
    color: red;
  }
}

@media (max-width: 700px) {

  h1,
  h2,
  h3 {
    font-weight: bolder !important;
  }
}