body,
html {
  margin: 0;
  padding: 0;
  font-family: 'open sans', 'arial';
}

p {
  margin: 0px;
}

:root {
  --bordaCor: #5d5d5d;
  --roxoDestaque: #8800B5;
}

.destaqueRed {
  color: red;
}

.destaqueRoxo {
  color: #8800B5;
}