@font-face {
  font-family: 'OpenSans';
  src: url('../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-VariableFont_wdth\,wght.ttf');
  font-weight: 100 900;
}


body,
html {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', 'Roboto', Arial;
}

p,
h1,
h2,
h3 {
  margin: 0px;
  color: rgb(255, 255, 255);
}

:root {
  --bordaCor: #5d5d5d;
  --bordaCorExecucao: #2b2b2b;
  --roxoDestaque: #8800B5;
}



* {
  --sb-track-color: #000000;
  --sb-thumb-color: #5d5d5d;
  --sb-size: 10px;
}

*::-webkit-scrollbar {
  width: var(--sb-size)
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.destaqueRed {
  color: red;
}

.destaqueGold {
  color: gold;
}

.destaqueRoxo {
  color: #8800B5;
}

.animarTexto {
  animation: mudarCor 1s infinite alternate ease-in-out;
}

@keyframes mudarCor {
  0% {
    color: blueviolet;
  }

  100% {
    color: red;
  }
}

@media (max-width: 700px) {

  h1,
  h2,
  h3 {
    font-weight: bolder !important;
  }
}