body,
html {
  margin: 0;
  padding: 0;
  font-family: 'open sans', 'arial';
}

p,
h1,
h2 {
  margin: 0px;
}

:root {
  --bordaCor: #5d5d5d;
  --roxoDestaque: #8800B5;
}



* {
  --sb-track-color: #000000;
  --sb-thumb-color: #5d5d5d;
  --sb-size: 10px;
}

*::-webkit-scrollbar {
  width: var(--sb-size)
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}


.destaqueRed {
  color: red;
}

.destaqueRoxo {
  color: #8800B5;
}